.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml
out
.gitignore
.idea/sonarlint/
out/production/My_Leetcode_Attempts/solutions/FindNumberswithEvenNumberofDigits.class
